{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block header %}
    <h1 style="color:white;">
        {% if CulinaryRating == "Deadly" or  CulinaryRating == "dangerous" %}
            <img src="/media/images/icons8-skull-and-crossbones-48.png" alt="Skull and Cross Bones Image">
        {% endif %}
        {% if user.show.ShowLatinNames %}
            {{ fungi.CommonName }}, <em>{{ fungi.LatinName }}</em>, id: {{ fungi.id }}
        {% else %}
            {{ fungi.CommonName }}
        {% endif %}
        {% if fungi.UKSpecies == "Yes" %}
            <img src="/media/images/pngfind.com-english-flag-png-6458760.png" alt="No flag found">
        {% endif %}
    </h1>
{% endblock header %}
{% block DetailBlock %}
    <form action="" method="post" enctype="multipart/form-data">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        {% csrf_token %}
        {{ form.management_form }}
        {{ form.non_form_errors }}
        <div class="detail">
            <h3>
                <label class="sub-content">Spores - edit</label>
            </h3>
            {% for spores_form in form.forms %}
                <h4>
                    {% if spores_form.instance.id %}
                        <div class="sub-content">
                            {{ spores_form|crispy }}
                        </div>
                    {% endif %}
                </h4>
                {% for hidden_field in spores_form.hidden_fields %}
                    {{ hidden_field.errors }}
                {% endfor %}
            {% endfor %}
            <p>
                <button type="submit" class="btn btn-outline-info">Save Spores</button>
                <a href="{{ fungi.get_absolute_url }}" role="button" class="btn btn-outline-info">Cancel</a>
            </p>
        </div>
    </form>

{% endblock DetailBlock %}