{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block header %}
    <h1 style="color:white;">
        {% if "Deadly" in CulinaryRating or "deadly" in CulinaryRating %}
            <img src="/media/images/icons8-skull-and-crossbones-48-red.png" alt="/default.jpg"/>
        {% elif  "Poisonous" in CulinaryRating or  "poisonous" in CulinaryRating %}
            <img src="/media/images/icons8-skull-and-crossbones-48.png" alt="/default.jpg"/>
        {% endif %}
        {% if "Edible" in CulinaryRating %}
            <img src="/media/images/icons8-dining-room-64-white-2.png" alt="/default.jpg"/>
        {% endif %}
        {% if "Inedible" in CulinaryRating %}
            <img src="/media/images/icons8-dining-room-64-white-5.png" alt="/default.jpg"/>
        {% endif %}
        {% if "medicinal" in CulinaryRating %}
            <img src="/media/images/icons8-medicine-64.png" alt="Hippocrates">
        {% endif %}
        {% if object.CommonName == "Common Name" %}
            <em>{{ object.LatinName }}</em>, id: {{ object.id }}
        {% endif %}
        {% if object.CommonName != "Common Name" %}
            {% if user.show.ShowLatinNames %}
                {{ object.CommonName }}, <em>{{ object.LatinName }}</em>, id {{ object.id }}
            {% else %}
                {{ object.CommonName }}
            {% endif %}
        {% endif %}
        {% if object.UKSpecies == "Yes" %}
            <img src="/media/images/pngfind.com-english-flag-png-6458760.png" alt="/default.jpg"/>
        {% endif %}
    </h1>
{% endblock header %}
<!--https://www.youtube.com/watch?v=OduVfuv44K8-->
<!-- https://github.com/veryacademy/YT_Inline_Formset_CBV_Ex1/blob/main/books/templates/author_books_edit.html-->

{% block title %}Editing notes for {{ fungi.CommonName }}{% endblock %}

{% block DetailBlock %}
    <form action="" method="post" enctype="multipart/form-data">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        {% csrf_token %}
        {{ form.management_form }}
        {{ form.non_form_errors }}
        <div class="detail">
            <h3>Update Notes</h3>
            {% for note_form in form.forms %}
                <hr>
                <h5>
                    {% if note_form.instance.id %}
                        Note:
                    {% else %}
                        {% if note_form.forms|length > 1 %}
                            Add another note
                        {% else %}
                            Add a note
                        {% endif %}
                    {% endif %}
                </h5>
                {% for hidden_field in note_form.hidden_fields %}
                    {{ hidden_field.errors }}
                {% endfor %}
                <div class="sub-content">
                    {{ note_form|crispy }}
                </div>

            {% endfor %}
            <hr>
            <p>
                <button type="submit" value="Update  notes" class="btn btn-success">Update Notes</button>
                <a href="{{ fungi.get_absolute_url }}" role="button" class="btn btn-secondary">Cancel</a>
            </p>
        </div>
    </form>

{% endblock DetailBlock %}